* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #da1f26;
  color: #fff;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 20%));
}

/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__next {
  width: 100%;
  height: 100%;
}

.loading {
  border-radius: 5px;
  animation: 1.5s shine linear infinite;
  // background: #eee;
  background: linear-gradient(
    110deg,
    rgb(0 0 0 / 8%) 8%,
    rgb(0 0 0 / 2%) 18%,
    rgb(0 0 0 / 8%) 33%
  );
  background-size: 200% 100%;
  color: transparent;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.screen-reader-only:not(:focus, :active) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2 {
  font-family: ars-bold, sans-serif;
  text-transform: uppercase;
}

@font-face {
  font-family: ars-bold;
  font-style: normal;
  font-weight: 700;
  src:
    url('../../fonts/ars-bold.woff2') format('woff2'),
    url('../../fonts/ars-bold.woff') format('woff');
}

@font-face {
  font-family: ars-reg;
  font-style: normal;
  font-weight: 400;
  src:
    url('../../fonts/ars-reg.woff2') format('woff2'),
    url('../../fonts/ars-reg.woff') format('woff');
}
