# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @brianespinosa

# No owner for package.json or yarn.lock so dependabot can set these to auto merge without a codeowner.
/package.json
/yarn.lock
