._ {
  display: flex;
  max-width: 100%;
  align-items: center;
  padding: 0.25rem;
  border-width: 1px;
  border-color: hsl(204deg 3% 32%);
  background-color: #da1f26;
  border-radius: 0.5rem;
  gap: 0.25rem;
  overflow-x: auto;
}

.button {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  border-style: none;
  background-color: hsl(220deg 55% 28%);
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  gap: 0.5rem;
  line-height: 1.5rem;
  white-space: nowrap;

  &:hover {
    background-color: hsl(220deg 55% 30%);
  }

  &:active,
  &[data-active] {
    background-color: hsl(220deg 55% 35%);
  }

  .button:focus-visible,
  &[data-focus-visible] {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }

  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}
