* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body,
#__next {
  height: 100%;
}
body {
  background-color: #2b4c7e;
  color: #dce0e6;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
